<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
    <body>
        <h1>Grapevine</h1>
        <p>Welcome to Grapevine!</p>
        <p>To get started, first register for an account</p>
    </body>
</html>

