<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<body>
  <div class="center jumbotron">
    <h1>Grapevine</h1>
    <h2>Hear it through the grapevine</h2>

    <%= link_to 'Register now!', register_path, class: 'btn btn-lg btn-primary' %>
  </div>

</body>
</html>

