<footer class="footer">
  <small>
    Grapevine by <a href="https://github.com/samuelshih">Samuel Shih</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <!-- TODO: News -->
    </ul>
  </nav>
</footer>
